span {
  font-size: 70px;
}

.container {
  max-width: 500px;
}

.letter-b {
  color: #98c379;
}

.letter-i {
  color: #56b6c2;
}

.letter-n {
  color: #c6ad00;
}

.letter-g {
  color: #b400b9;
}

.letter-o {
  color: #c62d48;
}

#searchButton {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-decoration: none;
  transition: all 0.15s ease;
  color: #7795f8;
  outline: none;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  border: none;
  cursor: pointer;
}

#searchBar {
  -webkit-appearance: none;
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d4dada;
  border-radius: 3px;
  box-shadow: none;
  vertical-align: bottom;
  width: 100%;
  font: inherit;
  margin: 0;
  overflow: visible;
  box-sizing: border-box;
  -webkit-rtl-ordering: logical;
  user-select: text;
  cursor: auto;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-writing-mode: horizontal-tb;
}

#searchBar:focus {
  border: 1px solid #07682c;
  outline: 0;
}

#searchButton:hover {
  color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  border: none;
  cursor: pointer;
}

#searchButton:active {
  background-color: #f6f9fc;
  transform: translateY(1px);
  box-shadow: 0 4px 6px r4gba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
